.main {
    width: 900px;
    margin: 0 auto;
    background-color: #ffffa2;
    text-align:center;
    border: 20px solid #ffffa2;
}

.input_data {
    width: 750px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f6edac;
    border: 3px solid #f1d875;
    border-radius: 5px;
    text-align:center;
    font-size: 90%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/e7URzK__gdJcp1hLJYAEag.woff) format('woff');
}
div.inside {
    margin-top: 5px;
    margin-left: 10px;
}
div.radio {
    margin: 0 auto;
    margin-bottom: 10px;
}
h3.inside {
    margin-top: 5px;
    margin-left: 5px;
}
li.inside {
    margin-top: 5px;
}
button.new_hole {
    margin-bottom: 5px;
}
button.count {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin-top: 10px;
}
form.output_data {
    width: 500px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #f1d875;
    border: 3px solid #bb9b37;
    border-radius: 5px;
    font-size: 90%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/e7URzK__gdJcp1hLJYAEag.woff) format('woff');
}
div.output_data {
    margin-top: 5px;
    margin-left: 5px;
}